* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  background-color: #000;
  color: #fff;
  font-family: "Barlow", sans-serif;
  font-family: "Source Sans Pro", sans-serif;
  /* position: relative; */
}

.sp-thongbao {
  display: none;
  color: red;
  font-weight: 700;
}

.btn {
  display: block;
  transition: 0.5s;
  font-weight: 700;
  font-size: 16px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  background-color: transparent;
  color: gainsboro;
  border: 1px solid gainsboro;
}

.btn:hover {
  color: #fff;
  border-color: #fff;
  box-shadow: 0px 0px 10px black;
}

/* CART BUTTON */
.cart-btn {
  position: absolute;
  /* padding: 20px; */
  cursor: pointer;
  top: 20px;
  right: 20px;
  /* z-index: 1; */
}

.cart-btn i {
  font-size: 35px;
}

.cart-btn .fa-times {
  display: none;
  position: relative;
  color: #000;
  z-index: 2;
}

.cart-noti {
  position: absolute;
  height: 20px;
  width: 20px;
  right: -5px;
  top: -10px;
  border-radius: 50%;
  border: dashed 1px #fff;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

#toggleUI {
  background-color: #fff;
  color: #000;
  box-shadow: 0px 0px 40px gray;
  margin-left: 20px;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

/* ITEM */
#items_list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.item {
  height: 400px;
  width: 300px;
  padding: 20px;
  background-color: #fff;
  color: #000;
  box-shadow: 0px 0px 40px gray;
  border-radius: 20px;
  position: relative;
  /* overflow: hidden; */
}

.item-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  /* font-size: 27px; */
  margin-bottom: 10px;
}

.item-header i {
  font-size: 24px;
}

.item-header span {
  /* font-size: 18px; */
  font-style: italic;
  font-weight: 600;
  color: green;
}

.item-header .price {
  font-size: 30px;
  padding-left: 25px;
  font-weight: 600;
}

.item-body img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.item-lable {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 50px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: gray;
  border-radius: 20px;
  color: #fff;
  transition: 0.5s;

  /* transform: translateY(25px); */
}

.item:hover .item-lable {
  height: 400px;
  align-items: flex-start;
}

.item:hover .item-lable h3 {
  margin-top: 20px;
}

.item-desc {
  position: absolute;
  top: 30px;
  left: 0;
  height: 100%;
  width: 100%;
  /* background: red; */
  /* transform: translateY(-50%); */
  /* transform: translateX(-50%); */

  padding: 20px;
  text-align: center;
  opacity: 0;
  font-size: 20px;
  color: gainsboro;
  font-weight: 600;
  transition: 1s;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-desc .desc {
  margin-top: 20px;
  /* margin-bottom: 100px; */
  text-transform: uppercase;
  color: yellow;
}

.item-desc .btn-buy,
.item-desc #PlusMinus {
  position: absolute;
  bottom: 70px;
}

.item-desc input {
  position: absolute;
  bottom: 80px;
}

.item-desc label {
  position: absolute;
  bottom: 100px;
  /* margin-top: 30px; */
  margin-bottom: 5px;
}

.item:hover .item-desc {
  opacity: 1;
}

/* FILTER BY TYPE */
#filterByType {
  width: 200px;
  height: 50px;
}

.container.onchangeFilter {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 200px;
}

/* Plus Minus */
#PlusMinus {
  display: none;
}

#minus,
#plus,
#CartMinus,
#CartPlus {
  height: 25px;
  width: 25px;
  border: 1px black solid;
  border-radius: 50%;
}

.numberPlace {
  display: inline;
  margin-left: 5px;
  margin-right: 5px;
}

#minus:hover,
#CartMinus:hover {
  background-color: red;
  border: none;
}
#plus:hover,
#CartPlus:hover {
  background-color: green;
  border: none;
}

/* CART UI */
#CartUI {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  /* background: rgba(0, 0, 0, 0.1); */
  background: pink;
  color: #000;
}

#CartUI h2 {
  /* position: absolute; */
  font-size: 50px;
  text-align: center;
}

#CartUI .cartUIcontainer {
  background: #fff;
  width: 900px;
  height: 100%;
  margin-left: auto;
  padding: 20px;
}

#CartUI table {
  border-collapse: collapse;
  width: 80%;
  margin: 0 auto;
  margin-top: 30px;
}

#CartUI table td {
  /* display: flex; */
  text-align: center;
  padding: 10px;
}

#CartUI table td i {
  cursor: pointer;
  font-size: 24px;
  transition: 0.5s;
}

#CartUI table td i:hover {
  color: red;
}

/* #CartUI table td * {
  box-shadow: 0px 0px 10px black;
} */

#CartUI table img {
  width: 100px;
  padding: 20px;
  box-shadow: 0px 0px 10px black;
}

#CartUI table tr {
  /* background: rgba(0, 0, 0, 0.1); */
  /* display: block; */
  border-bottom: 1px solid red;
}

.emptyMessage {
  display: none;
  font-size: 50px;
  text-align: center;
}

#tongTienToggle {
  position: absolute;
  right: 0px;
  bottom: 50px;
  text-align: right;
  margin-right: 50px;
  margin-top: 20px;
}

#CartUI #totalMoney {
  font-size: 50px;
  color: palevioletred;
}

/* BuyClearbtn */
.BuyClearBtn {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  position: absolute;
  right: 15%;
  bottom: 7%;
  z-index: 3;
}

.BuyClearBtn * {
  margin: 0 10px;
  position: relative;
}

.btn-cart {
  color: #000;
  border: 1px solid pink;
  display: flex;
  align-items: center;
  transition: 0.5s;
}

.btn-cart .fa-cc-visa,
.btn-cart .fa-trash-alt {
  color: pink;
  font-size: 24px;
  transition: 0.5s;
}

.btn-cart:hover .fa-cc-visa,
.btn-cart:hover.buy {
  color: purple;
}

.btn-cart:hover .fa-trash-alt,
.btn-cart:hover.clear {
  color: red;
}
